.prj {
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(229, 228, 228, 1);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.prj-border {
    height: 20px;
    background-color: rgb(229, 228, 228, 1);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.prj-circle {
    width: 6px;
    height: 6px;
    background-color: #7DA2A9;
    border-radius: 50%;
    margin: 5px;
}

.prj-img {
    width: 100%;
    transition: all 10s ease;
}

.prj:hover .prj-img{
    transform: translateY(-100%);
}

@media screen and (max-width: 480px){
    .prj{
        width: 40%;
        height: 20vh;
    }
}